
@media (min-width: 1200px) {
    .navbar{
        font-size: 30px;
        font-weight: bold;
    }
    
    .navbar-item{
        font-size: 30px;
        font-weight: bold;   
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar{
        font-size: 20px;
        font-weight: bold;
    }
    
    .navbar-item{
        font-size: 20px;
        font-weight: bold;   
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar{
        font-size: 10px;
        font-weight: bold;
    }
    
    .navbar-item{
        font-size: 10px;
        font-weight: bold;   
    }
}

@media (max-width: 768px) {
    .navbar{
        font-size: 10px;
        font-weight: bold;
    }
    
    .navbar-item{
        font-size: 10px;
        font-weight: bold;   
    }
}